{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Deck Detail</title>
    <link rel="icon" href="data:;base64,=" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script>
    <script>
      d3v4 = d3;
      window.d3 = null;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script>
      d3v3 = d3;
      window.d3 = null;
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'kf_main/detail_style.css' %}"
    />
  </head>
  <body>
    Deck: {{ deck.name }} id: {{ deck.id }}
    {{ power_list }}
    {{ type_nums }}
    <div>{{ closest_decks }}</div>
    <div id="deck_id">{{ deck.id }}</div>
    <ul>
      <h3>
        Global
      </h3>
      <li>Action: {{ g_action }}</li>
      <li>Artifact: {{ g_artifact }}</li>
      <li>Creature: {{ g_creature }}</li>
      <li>Upgrade: {{ g_upgrade }}</li>
      <li>Amber: {{ g_amber }}</li>
    </ul>
    <ul>
      <h3>
        Top
      </h3>
      <li>Action: {{ top_action }}</li>
      <li>Artifact: {{ top_artifact }}</li>
      <li>Creature: {{ top_creature }}</li>
      <li>Upgrade: {{ top_upgrade }}</li>
      <li>Amber: {{ top_amber }}</li>
    </ul>

    <img src="" alt="test_img" id="test_img">

    <div id="house_cards">
      <div class="house" id="house1">
        <p>{{ house1 }}</p>
        {% for card in deck_card_list %} {% if card.house == house1 %}
        <div class="card" id="{{ card.id }}" data-value="{{ card.front_image }}">
          {{ card.card_title }}
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="house" id="house2">
        <p>{{ house2 }}</p>
        {% for card in deck_card_list %} {% if card.house == house2 %}
        <div class="card" id="{{ card.id }}" data-value="{{ card.front_image }}">
          {{ card.card_title }}
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="house" id="house3">
        <p>{{ house3 }}</p>
        {% for card in deck_card_list %} {% if card.house == house3 %}
        <div class="card" id="{{ card.id }}" data-value="{{ card.front_image }}">
          {{ card.card_title }}
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    <div id="force"></div>
    <div id="type_pie"></div>
    <div class="bar_chart" id="pwr_dist"></div>
    <div class="bar_chart" id="g_action"></div>
    <div class="bar_chart" id="g_artifact"></div>
    <div class="bar_chart" id="g_creature"></div>
    <div class="bar_chart" id="g_upgrade"></div>
    <div class="bar_chart" id="g_amber"></div>
    <div class="bar_chart" id="top_action"></div>
    <div class="bar_chart" id="top_artifact"></div>
    <div class="bar_chart" id="top_creature"></div>
    <div class="bar_chart" id="top_upgrade"></div>
    <div class="bar_chart" id="top_amber"></div>

    <script>
      make_pie({{ type_nums|safe }})
      generate_barchart({{ power_list }}, "#pwr_dist")
      generate_barchart({{ g_action }}, "#g_action")
      generate_barchart({{ g_artifact }}, "#g_artifact")
      generate_barchart({{ g_creature }}, "#g_creature")
      generate_barchart({{ g_upgrade }}, "#g_upgrade")
      generate_barchart({{ g_amber }}, "#g_amber")
      generate_barchart({{ top_action }}, "#top_action")
      generate_barchart({{ top_artifact }}, "#top_artifact")
      generate_barchart({{ top_creature }}, "#top_creature")
      generate_barchart({{ top_upgrade }}, "#top_upgrade")
      generate_barchart({{ top_amber }}, "#top_amber")

      let card = document.querySelectorAll(".card")
        for(let i=0;i<card.length;i++) {
            card[i].addEventListener("mouseenter", function() {
                let url = this.dataset.value
                url_str = "url(" + url + ")"
                let card_img = document.createElement("img")
                card_img.id = "card_img"
                card_img.src = url
                card_img.style.position = "absolute"
                card[i].appendChild(card_img)

            })
            card[i].addEventListener("mouseleave", function() {
                let child = document.getElementById("card_img")
                card[i].removeChild(child)
            })
        }

        
      let deck_id = document.querySelector("#deck_id").innerText
      axios.post("{% url 'kf_main:get_nodes' %}", {
            "deck_id": deck_id
            }, {
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
            }
            ).then(function(response) {
                        generate_force(response.data["percent_match"])
                    })


      function make_pie(type_nums) {
          let height = 300
          let width = 500
          let radius = Math.min(width, height) / 3
          let color = d3v4.scaleOrdinal(["#4daf4a","#377eb8","#ff7f00","#984ea3"])

          let svg = d3v4.select("#type_pie")
              .append("svg")
              .attr("height", height)
              .attr("width", width)
              .append("g")
              .attr("transform", "translate(" + width/2 + "," + height/2 + ")")

          let arc = d3v4.arc()
              .outerRadius(radius)
              .innerRadius(radius - radius*.3)

          let pie = d3v4.pie()
              .value(function(d){
                  return d.amount
              })
              .sort(null)

          let label = d3v4.arc()
              .outerRadius(radius)
              .innerRadius(radius + 50)

          let path = svg.selectAll("path")
              .data(pie(type_nums))
              .enter()
              .append("path")
              .attr("d", arc)
              .attr("fill", function(d) {
                  return color(d.data.type)
              })

          let text = svg.selectAll("text")
              .data(pie(type_nums))
              .enter()
              .append("text")
              .attr("transform", function(d) {
                      return "translate(" + label.centroid(d) + ")"
              })
              .attr("text-anchor", "middle")
              .text(function(d) {
                      return d.data.type
                  })
              .style("fill", "black");

      }


      function generate_barchart(data_list, element_id) {
          let svg = d3v4.select(element_id).append("svg")
              .attr("height", "100%")
              .attr("width", "100%")

          let bar_width = 500 / Object.values(data_list).length;
          let scale = d3v4.scaleLinear().domain([0, d3v4.max(Object.values(data_list))]).range([0, 250])

          svg.selectAll("rect")
          .data(Object.values(data_list))
          .enter().append("rect")
              .attr("class", "bar")
              .attr("height", function (d) {return scale(d);})
              .attr("width", bar_width -bar_width*.05)
              .attr("x", function(d, i) {return (i*bar_width)})
              .attr("y", function(d, i) {return 250 - scale(d)})

          svg.selectAll("text")
              .data(Object.keys(data_list))
              .enter().append("text")
              .text(function(d) {return d})
                  .attr("class", "bar_text")
                  .attr("x", function(d, i) {return (i*bar_width)})
                  .attr("y", 250 + 20)
      }


      function generate_force(closest_decks) {
          let links = []

          for (let i=0; i < closest_decks.length; i++) {
              let wins = closest_decks[i][2]
              let losses = closest_decks[i][3]

              if (losses != 0){
                  win_loss =  wins / losses
              }
              else {win_loss = wins}

              data_row = {
                  source: closest_decks[0][1],
                  target: closest_decks[i][1],
                  percent: closest_decks[i][0],
                  win_loss: win_loss
              }
              links.push(data_row);
          }
          let nodes = {}

          links.forEach(function(link) {
          link.source = nodes[link.source] ||
              (nodes[link.source] = {name: link.source, percent: link.percent, win_loss: link.win_loss});
          link.target = nodes[link.target] ||
              (nodes[link.target] = {name: link.target, percent: link.percent, win_loss: link.win_loss});
          });

          let width = 600
          let height = 400

          let force = d3v3.layout.force()
              .nodes(d3v3.values(nodes))
              .links(links)
              .size([width, height])
              .linkDistance(80)
              .charge(-800)
              .on("tick", tick)
              .start();

          let svg = d3v3.select("#force").append("svg")
              .attr("width", width)
              .attr("height", height);

          let link = svg.selectAll(".link")
              .data(force.links())
              .enter().append("line")
              .attr("class", "link");

          let div = d3v3.select("#force").append("div")	
            .attr("class", "tooltip")				
            .style("opacity", 0);

          let node = svg.selectAll(".node")
              .data(force.nodes())
              .enter().append("g")
              .attr("class", "node")
              .style("fill", function(d) {
                  if (d.win_loss < 0) {
                      return "#b30000"
                  } else if (d.win_loss > 0){
                       return "#00cc00"
                  } else { return "#666666"}
              })
              .attr("percent", function(d) { return d.percent} )
              .attr("win_loss", function(d) { return d.win_loss} )
              .on("mouseover", function(d) {
                    div .transition()
                        .duration(200)		
                        .style("opacity", .9)
                    div .html("") 
                        .style("left", (d3v3.event.pageX) + "px")		
                        .style("top", (d3v3.event.pageY - 28) + "px"); 

                    axios.post("{% url 'kf_main:get_tooltip' %}", {
                        "deck_id": d.name
                    }, {
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                    }
                    ).then(function(response) {
                        deck = response.data
                        div .html(
                                "<h3>" + deck.name + "</h3>" + 
                                "<br/><b>Power Level:</b> " + deck.losses + 
                                "<br/><b>Chains:</b> " + deck.losses +
                                "<br/><b>Wins:</b> " + deck.wins +  
                                "<br/><b>Losses:</b> " + deck.losses
                            ) 
                            })

              })
              .on("mouseout", mouseout)
              .on("click", function(d){
                    
              })
              .call(force.drag);

          node.append("circle")
              .attr("r", function(d){
                  if (d.percent == 100) {
                      return 10
                  } else {
                      return ((d.percent/45)**7)
                  }})

          // node.append("text")
          //     .attr("x", 12)
          //     .attr("dy", ".35em")
          //     .text(function(d) { return d.name; });


          function tick() {
              link
                  .attr("x1", function(d) { return d.source.x; })
                  .attr("y1", function(d) { return d.source.y; })
                  .attr("x2", function(d) { return d.target.x; })
                  .attr("y2", function(d) { return d.target.y; });

              node
                  .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
          }


          function mouseout() {
              d3v3.select(this).select("circle").transition()
                    div .transition()
                        .duration(200)		
                        .style("opacity", 0)
          }

      }
    </script>
  </body>
</html>
