<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Deck List</title>
    <link rel="icon" href="data:;base64,=" />

  </head>
  <body>
    {% for deck in deck_list %}
    <form action="{% url 'kf_main:deck_detail' deck_id=deck.id %}">
      <button type="submit">{{ deck.name }}</button>
    </form>
    {% endfor %}
    
    
    <div class="prev_next">
        {% if deck_list.has_previous %}
            <a class="prev btn btn-info" href="?search={{ deck_name }}&page={{deck_list.previous_page_number}}">Prev</a>
        {% endif %}
        {% if deck_list.has_next %}
            <a class="next btn btn-info" href="?search={{ deck_name }}&page={{deck_list.next_page_number}}">Next</a>
        {% endif %}
        <div class="pages">
            <ul>
            {% for i in page_range %}
                {% if deck_list.number == pg %}
                    <li><a href="?search={{ deck_name }}&page={{ i }}" class="btn btn-default">{{ i }}</a></li>
                {% else %}
                    <li><a href="?search={{ deck_name }}&page={{ i }}" class="btn">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <span class="clear_both"></span>
    </div>

  </body>
</html>
