{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Deck List</title>
    <link rel="icon" href="data:;base64,=" />
    <link rel="stylesheet" type="text/css" href="{% static 'kf_main/deck_list.css' %}" />
  </head>
  <body>
    <div class="deck_wrapper">
      {% for deck in decks %}
      <a class="deck" href="{% url 'kf_main:deck_detail' deck_id=deck.id %}">
        {{ deck.name }}
        <div class="house_imgs"></div>
      </a>
      {% endfor %}
    </div>
    <div class="pagination">
      {% if decks.has_previous %}
      <a href="?search={{ deck_name }}&page={{ decks.previous_page_number }}"
        >&laquo;</a
      >
      {% endif %} {% for i in page_range %} {% if decks.number == i %}
      <a href="?search={{ deck_name }}&page={{ i }}" class="active">{{ i }}</a>
      {% else %}
      <a href="?search={{ deck_name }}&page={{ i }}">{{ i }}</a>
      {% endif %} {% endfor %} {% if decks.has_next %}
      <a href="?search={{ deck_name }}&page={{ decks.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>

    <script>
        let decks = document.querySelectorAll(".house_imgs")
        house_lists = {{ house_lists|safe }}
        let i = 0
        for(let i=0;i<decks.length;i++) {
          house_lists[i].forEach(function(house) {
            let house_img = document.createElement("img")
            house_img.src = "../static/kf_main/images/" + house + ".png"
            house_img.width = "25"
            house_img.class = "house_img"
            decks[i].appendChild(house_img)
          })
        };
    </script>
  </body>
</html>
