{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
    <link rel="icon" href="data:;base64,=" />
    <link rel="stylesheet" type="text/css" href="{% static 'kf_main/style.css' %}" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="background_div"></div>

    <button id="test" type="submit">test</button>

    <form id="center_form" action="{% url 'kf_main:deck_search' %}" method="POST">
      {% csrf_token %}
      <div id="search_bar_div">
        <input
          id="deck_search"
          type="text"
          name="search_string"
          placeholder="Enter a deck name"
        />
        <button id="deck_search_btn" type="submit">⌕</button>
      </div>

      {% if message %}
      <div id="message">{{ message }}</div>
      {% else %}
      <div id="message"></div>
      {% endif %}
    </form>

    <div class="deck_wrapper"></div>

    <script>

      let test = document.querySelector("#test")
      let form_position = document.querySelector("#center_form")
      let message = document.querySelector("#message")
      test.addEventListener("click", function(){
          form_position.style.height = "20%"
          if (!(document.querySelector(".deck")))
              message.innerText = "Loading..."

      })

      
      axios.get("{% url 'kf_main:get_top100' %}").then(function(response) {
                let top100 = response.data
                  create_decks(top100, message)
          
                });

                
      function create_decks(decks, message) {
        let deck_wrapper = document.querySelector(".deck_wrapper")
        for(let i=0;i<Object.keys(decks).length;i++) {
                      let deck = document.createElement("a")
                      deck.className = "deck"
                      deck.id = i
                      deck.href = "../deck_detail/" + decks[i]["id"]
                      deck.innerText =decks[i]["name"]
                      deck_wrapper.appendChild(deck)
                  }
        deck_wrapper.style.opacity = "1"
        message.innerText = ""
      }
    </script>
  </body>
</html>
