{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    
    <title>Index</title>
    <link rel="icon" href="data:;base64,=" />
    <link rel="stylesheet" type="text/css" href="{% static 'kf_main/style.css' %}" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="nav">
      <button class="deck_category" id="top100" type="submit">Top 100</button>
      <button class="deck_category" id="card_freq" type="submit">Card Frequency</button>
    </div>

    <form id="center_form" onsubmit="return false">
      <div id="search_bar_div">
        <input
          id="deck_search"
          type="text"
          name="search_string"
          placeholder="Enter a deck name"
        />
        <button class="deck_category" id="deck_search_btn" type="submit">⌕</button>
      </div>

      {% if message %}
      <div id="message">{{ message }}</div>
      {% else %}
      <div id="message"></div>
      {% endif %}
    </form>

    <div class="deck_wrapper"></div>
    <div class="house_wrapper"></div>
    <div class="pagination"></div>

    <script>
      let deck_wrapper = document.querySelector(".deck_wrapper");
      let deck_category = document.querySelectorAll(".deck_category");
      let form_position = document.querySelector("#center_form");
      let message = document.querySelector("#message");
      let pagination = document.querySelector(".pagination");
      let house_wrapper = document.querySelector(".house_wrapper");
      let page = 1;

      if (document.querySelector("#deck_search").value != "") {
        translate_form();
      }
      search(page);

      deck_category.forEach(function(category) {
        category.addEventListener("click", function() {
          clear_pagination();
          translate_form();
          if (category.id == "top100") {
            document.querySelector("#deck_search").value = "";
            top100();
          } else if (category.id == "deck_search_btn") {
            page = 1;
            search(page);
          } else if (category.id == "card_freq") {
            card_freq();
          }
        });
      });

      function translate_form() {
        form_position.style.height = "10%";
        message.innerText = "Loading...";
      }

      function top100() {
        clear_decks();
        axios.get("{% url 'kf_main:get_top100' %}").then(function(response) {
          let top100 = response.data["top_dict"];
          let house_lists = response.data["house_lists"];
          create_decks(top100, message, house_lists);
        });
      }

      function search(pg) {
        house_wrapper.style.opacity = "0";
        let search_str = document.querySelector("#deck_search").value;
        let search = "";
        let detail_search = "{{ search }}";

        if (search_str != "") {
          search = search_str;
        } else if (detail_search != "#") {
          search = detail_search;
          translate_form();
        } else {
          return;
        }

        deck_wrapper.style.opacity = "0";
        axios
          .post(
            "{% url 'kf_main:search' %}",
            {
              search: search,
              page: pg
            },
            {
              headers: {
                "X-CSRFToken": "{{ csrf_token }}"
              }
            }
          )
          .then(function(response) {
            clear_decks();
            let results = response.data;
            window.scrollTo({ top: 0, behavior: "smooth" });
            if (results["deck_dict2"]["0"] == null) {
              message.innerText = "No decks found";
              return;
            }
            create_decks(results["deck_dict2"], message, results["house_lists"]);
            paginate(results["page_range"]);
          });
      }

      function card_freq() {
        clear_decks();
        house_wrapper.style.display = "flex";

        axios.get("{% url 'kf_main:get_card_freq' %}").then(function(response) {
          message.innerText = "";
          house_wrapper.style.opacity = "1";
          let houses = response.data;

          if (document.querySelector(".card_house")) {
            return;
          }

          Object.keys(houses).forEach(function(card_house) {
            let house = document.createElement("div");
            let house_img = document.createElement("img");
            house_img.className = "house_logo";
            house.innertext = card_house;
            house.className = "card_house";
            house.id = card_house;

            get_house_style(house, house_img);
            house_wrapper.appendChild(house);
            house.appendChild(house_img);

            let current_house = document.querySelector("#" + card_house);
            for (let i = 0; i < houses[card_house].length; i++) {
              let card = document.createElement("div");
              card.className = "card";
              card.innerText = houses[card_house][i];
              current_house.appendChild(card);
            }
          });
        });
      }

      function paginate(page_range) {
        for (let i = 0; i < page_range.length; i++) {
          let page_link = document.createElement("div");
          page_link.className = "page";
          if (page_range[i] == page) {
            page_link.id = "active";
          }
          page_link.onclick = function() {
            deck_wrapper.style.opacity = "0";
            clear_pagination();
            page = this.innerText;
            search(page_range[i]);
          };
          page_link.innerText = page_range[i];
          pagination.appendChild(page_link);
        }
      }

      function clear_decks() {
        house_wrapper.style.opacity = "0";
        deck_wrapper.style.opacity = "0";

        while (document.querySelector(".deck")) {
          document.querySelector(".deck").remove();
        }
      }

      function clear_pagination() {
        while (pagination.firstChild) {
          pagination.firstChild.remove();
        }
      }

      function create_decks(decks, message, house_lists) {
        clear_decks(deck_wrapper);

        for (let i = 0; i < Object.keys(decks).length; i++) {
          let deck = document.createElement("a");
          deck.className = "deck";
          deck.id = i;
          deck.href = "../deck_detail/" + decks[i]["id"];
          deck.innerText = decks[i]["name"];
          deck_wrapper.appendChild(deck);
        }

        let deck_divs = document.querySelectorAll(".deck");
        for (let i = 0; i < Object.keys(deck_divs).length; i++) {
          let house_imgs = document.createElement("div");
          house_imgs.className = "house_imgs";
          deck_divs[i].appendChild(house_imgs);

          house_lists[i].forEach(function(house) {
            let house_img = document.createElement("img");
            house_img.src = "../static/kf_main/images/" + house + ".png";
            house_img.width = "25";
            house_img.class = "house_img";
            house_imgs.appendChild(house_img);
          });
        }
        deck_wrapper.style.opacity = "1";
        house_wrapper.style.display = "none";
        message.innerText = "";
      }

      function get_house_style(house, house_img) {
        if (house.id == "Brobnar") {
          house.style.background = "#f15922";
          house_img.src = "{% static 'kf_main/images/brobnar.png' %}";
        } else if (house.id == "Shadows") {
          house.style.background = "#febc3f";
          house_img.src = "{% static 'kf_main/images/shadows.png' %}";
        } else if (house.id == "Untamed") {
          house.style.background = "#167449";
          house_img.src = "{% static 'kf_main/images/untamed.png' %}";
        } else if (house.id == "Logos") {
          house.style.background = "#c95827";
          house_img.src = "{% static 'kf_main/images/logos.png' %}";
        } else if (house.id == "Dis") {
          house.style.background = "#292a2a";
          house_img.src = "{% static 'kf_main/images/dis.png' %}";
        } else if (house.id == "Sanctum") {
          house.style.background = "#1483bc";
          house_img.src = "{% static 'kf_main/images/sanctum.png' %}";
        } else if (house.id == "Mars") {
          house.style.background = "#4f2e91";
          house_img.src = "{% static 'kf_main/images/mars.png' %}";
        }
      }
    </script>
  </body>
</html>
