
.bar {
    fill: blue;
}

.bar_chart {
    height: 300px;
    width: 500px;
}

#force {
    height: 400px;
    width: 600px;
}

.link {
    fill: none;
    stroke: rgb(75, 75, 75);
    stroke-width: 1.5px;
}

.node circle {
    stroke: #333;
    stroke-width: 1.5px;
}

#type_pie {
    height: 300px;
    width: 500px;
}

#house_cards {
    display:flex;
    justify-content: space-evenly;
}

/* #house {
    margin: 0 100px;
} */