body {
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #050e13;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}





#deck_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.chart_wrapper {
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.bar_chart {
    color:whitesmoke;
    display:none;
    height: 300px;
    width: 600px;
}

.bar_chart_top {
    display:none;
    height: 300px;
    width: 600px;
}

svg .bar_text {
    fill: whitesmoke;
    text-anchor: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.arrow {
    text-align: center;
    padding: 150px 20px;
    font-size: 24px;
}


#force {
    height: 400px;
    width: 600px;
}

.link {
    fill: none;
    stroke: rgb(75, 75, 75);
    stroke-width: 1.5px;
}

.node circle {
    stroke: #333;
    stroke-width: 1.5px;
}

#type_pie {
    height: 300px;
    width: 500px;
}


#house_cards {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: space-evenly;
    padding: 2px 0;
    margin: 50px;
}

#house1 {
    padding: 10px;
}

#house2 {
    padding: 10px;
}

#house3 {
    padding: 10px;
}

.house {
    position: relative;
    z-index: 0;
}

.house_img {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 0px;
}


.card {
    width: 400px;
    color: whitesmoke;
    background: rgba(71, 69, 75, 0.897);
    padding: 6px 10px; 
    margin-bottom: 2px;
}


div.tooltip {	
    color:whitesmoke;
    position: absolute;			
    text-align: center;			
    width: 180px;					
    height: 150px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: rgb(90, 92, 95);	
    pointer-events: none;			
}

.hex_wrap {
    margin-left: 120px;
}

.hex_top {
    width: 0;
    border-bottom: 90px solid rgb(25, 40, 107);
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
}

.hex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: whitesmoke;
    width: 304px;
    height: 174px;
    background-color: rgb(25, 40, 107);
}

#power {
    font-size: 24px;
    grid-column: 1/2;
    text-align: center;
    margin:auto;
}

#power p {
    margin:2px;
    font-size: 60px;
}

#win_loss {
    grid-column: 2/3;
    margin:auto;
}

#chains {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin:auto;
}

#amber {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin:auto;
}

.hex_bottom {
    width: 0;
    border-top: 90px solid rgb(25, 40, 107);
    border-left: 152px solid transparent;
    border-right: 152px solid transparent;
}